*{
    margin: 0;
    padding: 0;
}
.modal{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all .3s ease;
}
.modal.actvie{
    z-index: 999;
    pointer-events: auto;
    opacity: 1;
    top: 0;
}
.modal .modal-window{
    background: #fff;
    width: 32rem;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer{
    margin: 2rem;
}
.modal .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal .modal-header .title{
    margin: 0;
    font-size: 2rem;
}
.modal .modal-header .close{
    font-size: 3rem;
    cursor: pointer;
}
.modal .modal-footer .control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn{
    background: #666;
    color: #fff;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 .5rem;
    padding: .5rem 1rem;
}
